body {
  background-color: #B3B995;
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
  line-height: 2.55rem;
  color: white;
}
body p {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  text-align: right;
  height: 3rem;
  display: block;
  font-size: 1.7rem;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}
nav a:hover {
  background-color: #787f54;
}

header {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #B3B995;
}

.header-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.25rem;
  font-weight: 900;
  color: white;
}
.header-grid-item > img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
  line-height: 1.5em;
}

.left {
  float: left;
  width: 35%;
  margin-left: 5rem;
  font-size: 2.38rem;
  line-height: 2.55rem;
}

.right {
  float: right;
  width: 50%;
  padding-left: 5%;
}

.home-container {
  margin-top: 2rem;
}
.home-container img {
  max-width: 70%;
  margin: 0 5% vh;
}

.large-shop-text {
  font-size: 2.55rem;
  color: white;
}

.small {
  font-size: 1.19rem;
  line-height: 1.7rem;
  text-align: left;
}

ul {
  list-style-type: "*   ";
  text-align: left;
  font-size: 1.2em;
  line-height: 2em;
  display: inline-block;
  margin: 0;
}

.home-grid {
  clear: both;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding: 0 10;
  margin: 5% 10%;
  justify-content: space-between;
}

.home-item {
  background-color: #787f54;
  border: 2px solid gray;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.home-item a {
  text-decoration: none;
  color: white;
}
.home-item a :hover {
  opacity: 0.7;
}
.home-item img {
  max-width: 80%;
  min-width: 80%;
}

table {
  justify-content: left;
  margin: auto;
  color: white;
}

td {
  text-align: left;
  padding-right: 20px;
}

.products-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin: 3%;
  background-color: #B3B995;
}
.products-grid .products-grid-item {
  text-align: center;
  font-weight: 800;
  text-align: center;
}
.products-grid .products-grid-item img {
  width: 80%;
  height: 80%;
}
.products-grid .small {
  font-size: 1.19rem;
  line-height: 1.7rem;
  text-align: left;
}
.products-grid p {
  margin-bottom: 1.02rem;
}

.vtr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 50px;
  background-color: #B3B995;
  text-align: center;
  align-items: center;
}
.vtr-grid-container p {
  margin-bottom: 1em;
}
.vtr-grid-container .vtr-grid-item-2left {
  grid-column: 1/span 2;
  text-align: left;
  padding: 20px;
}
.vtr-grid-container .vtr-grid-item-2left ul {
  line-height: 1em;
}
.vtr-grid-container .vtr-grid-item-1right {
  grid-column: 3;
}
.vtr-grid-container .vtr-grid-item-1right img {
  width: 100%;
}
.vtr-grid-container .vtr-grid-item-1left {
  grid-column: 1;
}
.vtr-grid-container .vtr-grid-item-1left img {
  width: 100%;
}
.vtr-grid-container .vtr-grid-item-2right {
  grid-column: 2/span 2;
  padding: 10%;
  text-align: left;
}

.cu-grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  gap: 50px;
  background-color: #B3B995;
  text-align: center;
}

.cu-email {
  text-align: right;
}

footer .footer-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0 5%;
}
footer .footer-grid-container .footer-item {
  text-align: left;
}
footer .footer-grid-container .footer-item img {
  width: 60%;
}
footer .footer-grid-container .footer-item h3 {
  margin: 0;
}

/* Style all font awesome icons */
.fa {
  padding: 12px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}/*# sourceMappingURL=styles.css.map */