:root {
  background-color: #B3B995;
  font-family: Lucida, cursive;
  font-size: 1vw;
  line-height: 1rem;
  color: white;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root img {
  max-width: 100%;
}

header img {
  width: 30vw;
}
header .header__logo {
  flex-grow: 0;
  flex-shrink: 1;
}

.row--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__list {
  display: flex;
  list-style-type: none;
  padding-right: 1rem;
  font-size: 2rem;
}
nav li + li {
  padding-left: 2rem;
}
nav a {
  color: rgb(82, 43, 13);
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: #787f54;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  font-size: 2em;
  line-height: 1.6em;
}
.hero img {
  border: 4px solid white;
}
.hero p {
  margin: 2rem 7rem 7rem 7rem;
}

.row {
  display: flex;
  margin: 0 auto;
}

.col {
  width: 100%;
}

.kps {
  font-size: 2em;
  line-height: 1.3em;
  background-color: white;
  color: rgb(82, 43, 13);
  padding: 0 1em;
  box-shadow: 10px 10px 5px grey;
}

.sidebar {
  font-size: 0.6em;
  line-height: 1.2em;
}

.qavs {
  margin: 3em auto;
  font-size: 3rem;
  line-height: 1.3em;
}
.qavs p {
  padding-right: 1.8em;
}

h2 {
  text-align: center;
  font-size: 5em;
  line-height: 1.5rem;
  font-weight: 900;
}

.small-text {
  font-size: 0.5em;
  text-align: left;
}

table {
  justify-content: left;
  color: white;
  margin: 1em auto;
}

td {
  line-height: 3.5rem;
  text-align: left;
  font-size: 3em;
  padding-right: 1em;
}

.products-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 3%;
  background-color: #B3B995;
}
.products-grid .products-grid-item {
  text-align: center;
}
.products-grid .products-grid-item img {
  width: 80%;
  height: auto;
}
.products-grid .products-grid-item p {
  font-size:2rem;
  font-weight: 800;
  text-align: center;
}

.regular-list ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
}

.container-flex {
  display:flex;
  width:100%;
  justify-content: space-between;
  margin:2rem;
}

.flex-30 {
  display:flex;
  flex-direction:column;
  width:30%;
  padding: 1rem;
  border:2px solid white;
  text-align:center;
}

.container-flex img {
  /* height:280px; */
  width:auto;
}

.flex-60 {
  display:flex;
  padding:1rem;
  flex-direction:row;
  width:60%;
  border:2px solid white;
  text-align:center;
}

.flex-60 .item {
  width:100%;
}

.container-flex p {
  font-size: 2rem;
  line-height: 2rem;
}

.container-flex ul {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: left;
  margin-left:3rem;
  padding: 0 1rem;
  list-style-position: outside;
}

.container-flex li {
  margin-left:1rem;
}

.vtr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 2%;
  font-size: 2rem;
  line-height: 1.5em;
  background-color: #B3B995;
  padding: 0 1.5em;
}

.vtr-grid-container  h2 {
  font-size:3rem;
}


.vtr-grid-container img {
  width: 100%;
  padding: 2em 0;
}
.vtr-grid-container .vtr-grid-item-2left {
  grid-column: 1/span 2;
  text-align: left;
}
.vtr-grid-container .vtr-grid-item-2left ul {
  list-style-type: disc;
}
.vtr-grid-container .vtr-grid-item-1right {
  grid-column: 3;
}
.vtr-grid-container .vtr-grid-item-1left {
  grid-column: 1;
}
.vtr-grid-container .vtr-grid-item-2right {
  grid-column: 2/span 2;
  text-align: left;
}

.cu-grid-container {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 40% 25% 30%;
  line-height: 1.5em;
  background-color: #B3B995;
  text-align: center;
}
.cu-grid-container a {
  margin-left:3rem;
}

.cu-grid-item {
  text-align: left;
}

.cu-email {
  text-align: left;
  font-size:2.3rem;
}

.address {
  padding-top:2.5rem;
  padding-left: 6rem;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
}

footer .footer-grid-container {
  display: grid;
  grid-template-columns: 2fr  0.8fr 1.2fr;
}
footer .footer-grid-container .fi {
  text-align: left;
}
footer .footer-grid-container .fi img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}
footer .footer-grid-container .fi .address {
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: left;
  margin-left:3rem;
}

/* Style all font awesome icons */
.fa {
  padding: 2rem;
  margin: 5px 2px;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}/*# sourceMappingURL=styles.css.map */