// Variables

$font-family: 'Dancing Script', cursive;
$font-size: 2vw;
$line-height: calc($font-size*1.5);
$color:white;
$shop-color:#B3B995;
//========================================

:root {
    background-color: $shop-color;
    font-family:$font-family;
    font-size: $font-size;
    line-height:$line-height;
    color:$color;
    width: 100vw;
    margin:0;
    padding:0;
}

nav {
    ul {
        display: block;
        text-align: right;
        list-style-type: none;
    }
    li  {
        display: inline-block;
    }
    a {
        display: inline-block;
        color: $color;
        text-decoration: none;
        text-align: center;
        padding:0 1em 1em 1em;
        &:hover{
            background-color:#787f54;
        }
    }
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: $shop-color;
}
.header-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight:900;
    color: white;
    >img {
        width:100%;
    }
}


// General styling classes
.center{
    padding:0 1rem;
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    line-height:1.2em;
    list-style-position: outside;
    width:70%;
}
.left{
    float:left;
    width:35%;
    padding:0 2em;
    font-size: 1.5em;
    line-height:1.2em;
    img {
        max-width:70%;
    }
}
.right{
    float:right;
    width:40%;
    margin:4em auto;
    img {
        max-width:90%;
    }
}

.small-text {
    font-size: 0.4em;
    text-align:left;
}

ul.home {
    list-style-type: "\1F44D   ";
    text-align: left;
    font-size: 1em;
    line-height:1.5em;
    display: inline-block;
    margin:0;
}

// used for clickable image links on bottom of home page
.home-grid {
    clear: both;
    display:grid;
    grid-template-columns: repeat(3,30%);
    gap:5%;
    margin:0 7%;
    justify-content: space-between;
}

.home-item {
    margin:2em 0;
    background-color: #787f54;
    border:2px solid white;
    border-radius: 10%;
    text-align: center;
a {
    text-decoration: none;
    font-size:4vw;
    color:white;
    :hover{
        opacity: 0.7;
    }
}
img {
    padding-top:1em;
    max-width:70%;
    max-height:48%;
}
}
// ================================================
table {
    justify-content: left;
    color:white;
    margin:1em auto;
}

td {
    text-align: left;
    font-size: 1em;
    padding-right:1em;
}

// grid for products & services
.products-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    margin:3%;
    background-color: $shop-color;
    .products-grid-item {
        text-align: center;
        font-weight: 800;
        img {
            width:80%;
            height:auto;
        }
    }
}

.regular-list {
    ul {
        list-style-type: disc;
        margin:0;
        padding:0;
        font-size:0.8em;
        line-height: 1.2em;;
    }
}
//=================================================
// grid for volunteering page

.vtr-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 2%;
    font-size: 1.5em;
    line-height: 1.2em;
    background-color: $shop-color;
    padding:0 1.5em;
    img {
        width:100%;
        padding: 2em 0;
    }

    .vtr-grid-item-2left {
        grid-column: 1 / span 2;
        text-align: left;
        ul {
            list-style-type: disc;
        }
    }

    .vtr-grid-item-1right{
        grid-column: 3;
    }
    .vtr-grid-item-1left{
        grid-column: 1;
    }
    .vtr-grid-item-2right{
        grid-column: 2 / span 2;
        text-align: left;
        }
}
//=================================================
// grid for contact us page

.cu-grid-container{
        display: grid;
        margin-top:2em;
        grid-template-columns: 20% 45% 35%;
        line-height:1.5em;
        // gap: 1em;
        background-color: $shop-color;
        text-align: center;
        a {
            padding-left:1em;
        }
}

.cu-grid-item {
    text-align: left;
    padding-left: 1em;
}
.cu-email {
    text-align: right;
    padding-right:4em;
}

.address {
    font-size:1.4em;
    line-height:1.4em;
}

footer {
    .footer-grid-container {
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        .fi {
            img {
                width:60%;
                height:auto;
                margin:0 auto;
            }
        }
    }
}
   

//=================================================
    /* Style all font awesome icons */
    .fa {
        padding: 1em;
        font-size: 6em;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      /* Add a hover effect */
      .fa:hover {
        opacity: 0.7;
      }
      
      /* Set a specific color for each brand */
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      /* Twitter */
      .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        
        /* Instagram */
        .fa-instagram {
            background: #125688;
            color: white;
          }