<hr />
<div class="footer-grid-container">
    <div class="fi">
        Church Fenton Community Shop<br>
        Station Road <br>
        Church Fenton <br>
        LS24 9RA <br>
        07598 836653
    </div>

    <div class="fi">
        <a href="https://www.facebook.com/churchfentonshop" class="fa fa-facebook"></a><br>
        <a href="https://twitter.com/chfentonshop" class="fa fa-twitter"></a><br>
        <a href="https://www.instagram.com/cfshop" class="fa fa-instagram"></a>
    </div>

    <div class="fi">
        <img src="{{ site.baseurl }}images/emblem.png" alt="emblem"></a>
    </div>
</div>