<hr />
<div class="footer-grid-container">
    <div class="footer-item">
        <h3>Church Fenton Community Shop</h3>
        Station Road <br>
        Church Fenton <br>
        LS24 9RA <br>
        07598 836653
    </div>

    <div class="footer-item">
        Follow us on Facebook <br><br><br>
        <a href="https://www.facebook.com/churchfentonshop" class="fa fa-facebook"></a>
    </div>

    <div class="footer-item">
        <img src="{{ site.baseurl }}/images/emblem.png" alt="emblem">
    </div>
</div>