<header>
    <div class="row--header">
        <img src="{{ site.baseurl }}/images/logo.png" alt="logo" class="header__logo">
        <nav>
            <!-- <div class="row--nav"> -->
                <ul class="nav__list">
                    <li><a href="index.html" class="col">Home</a></li>
                    <li><a href="products.html" class="col">Products</a></li>
                    <li><a href="services.html" class="col">Services</a></li>
                    <li><a href="volunteering.html" class="col">Volunteering</a></li>
                    <li><a href="contact.html" class="col">Contact</a></li>
                </ul>
            <!-- </div> -->
        </nav>
    </div>
</header>
