<header>
    <img src="{{ site.baseurl }}/images/logo.png" alt="logo" class="header__logo">
    <div class="row--header">
        <button class="button--header">
            Home
        </button>
        <button class="button--header">
            Products
        </button>
        <button class="button--header">
            Services
        </button>
        <button class="button--header">
            Volunteering
        </button>
        <button class="button--header">
            Contact
        </button>
    </div>
</header>
